@if(controlVar) {
    <p>control-flow works!</p>
} @else if(controlVar2){
    <p>Else if control-flow works!</p>
} @else {
    <p>Else control-flow works!</p>
}


@if(dataObj.subData.subData2.firstName; as testValue){
    <p>{{testValue}}</p>
}

<hr>

@switch (true) {
    @case (age < 18) {
        <p>you are not eligible for vote</p>
    }
    @case (age >= 18) {
        <p>you are  eligible for vote</p>
    }
    @default {
        <p> are you eligible for vote?</p>
    }
}
<hr>
@switch (employee) {
    @case('admin'){
        <p>Admin is allowed to see the content</p>
    }
    @case ('user') {
        <p>User is allowed to see the content</p>
    }
    @case ('guest') {
        <p>Guest is not allowed to see the content</p>
    }
    @default {
        <p>log in to see the content</p>
    }
}

<hr>
<h1>For loop</h1>
<hr>

<!-- <p *ngFor="let fruit of fruitsDetails; trackBy: trackByFn">{{fruit.name}}</p> -->

@for(fruit of fruitsDetails; track fruit.id; let count = $count;
let index = $index; let first = $first; let last = $last; 
let even = $even; let odd = $odd) {
    <p>{{count}}. {{index}} - {{fruit.name}}, isItFirst: {{first}}, 
        isIsLast: {{last}}, isItEven: {{even}}, isItOdd: {{odd}} </p>
} @empty {
    <p>No fruits</p>
}


<p-button (click)="addFruit()">addFruit</p-button>
<p-button (click)="emptyFruit()">empty fruit</p-button>