<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" class="mr-2"/>
        <p-button icon="pi pi-print" class="mr-2"/>
        <p-button icon="pi pi-upload" />
    </div>
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span>
    </div>
    <div class="p-toolbar-group-end">
        <p-splitButton label="Login" [model]="items" />
    </div>
</p-toolbar>



<p-sidebar [(visible)]="sidebarVisible">
    <h3 routerLink="/event">Event Binding</h3>
    <h3 routerLink="/content">Content Projection</h3>
    <h3 routerLink="/two-way">Two way binding</h3>
    <h3 routerLink="/parent">Parent</h3>
    <h3 routerLink="/control">Control Flow</h3>
    <h3 routerLink="/teacher">Teacher component</h3>
    <h3 routerLink="/datatable">DataTable component</h3>
    <h3 routerLink="/reactive">Reactive form component</h3>
</p-sidebar>